.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-top: 100px;
}
.filter__category{
    padding-bottom: 3px;
}
.filter__category:hover{
    cursor: pointer;
    color: blue;
    border-bottom: 1px solid blue;
}